{
  "singleQuote": true,
  "trailingComma": "none",
  "arrowParens": "always",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "endOfLine": "lf",
  "proseWrap": "always"
}
